.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.thumbnail-img {
  border: none;
  background-color: transparent;
  width: 150px;
  height: 150px;
}
li {
  padding: 0px;
  margin: 0px;
  margin: 10px;
}
